body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
